/*To reset*/
*,
*::before,
*::after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 10px;
    background-color: #C7CED5;
}
body {
    font-size: 1.6rem;
    color: black;
    font-family: Arial, Helvetica, sans-serif;
}
a{
    text-decoration: none;
    color: inherit;
}
ul{
    list-style: none;
}
section{
    padding: 5rem 0;
}

.footer{
  padding: 1rem 0;
  background-color: palevioletred;
  color: white
}

.header{
    width: 100%;
    height: 6rem;
    display: flex;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
}

.container{
    width: 100%;
    max-width: 120rem;
    padding: 0 1.5rem;
    margin: 0 auto;
}

.nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    z-index: 900;
}

.nav a:hover {
    background-color:   whitesmoke;
    color: black;
  }
.nav a#active {
  background-color:   whitesmoke;
    color: black;
 }

.logo img{
    max-width: 80%;
    margin-left: -0.4vh;
    width: 200px;
    height: 50px;
}

.nav_list{
    position: fixed;
    top: 0;
    left: 0;
    height: 10vh;
    width: 100%;
    background-color:palevioletred;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.link{
   display: block;
   color: white;
   font-size: 2.3rem;
   font-weight: bold;
   text-transform: uppercase;
   letter-spacing: 2px;
   padding: 1rem; 
}

.btn_link{
  display: block;
  color: black;
  font-size: 2.3rem;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 2px;
  padding: 1rem;
}

.column a:hover {
  background-color:   whitesmoke;
  color: black;
}

h1{
  margin-top: 15vh;
  margin-right: 10vh;
  color: black;
  font-style: italic;
  font-family: cursive;
  font-weight: lighter;
  text-align: center;
  font-size: 3rem;
}

h2{
  font-size:20pt; 
  text-align: center;
}

.gender{
  padding-top: 30%;
}

.instructor {
  margin-top: 5vh;
  margin-left: 70vh;
  float: left;
  width: 100%;
  padding: 0 8px;
}


.instructor_pic {
  margin: 8px;
  margin-left: 5vh;
  width:20%;
  height:100%;

}

p{
    color: black;
}

footer{
  margin-top: 5vh;;
  text-align: center;
  position: absolute;
  bottom: 0;
  width: 100%
}

